<!-- TODO: USE CONST NAMES -->
<mat-card [formGroup]="formService.formGroup">
    <mat-card-title>
        <h1>הוספת בית חדש</h1>
    </mat-card-title>
    <mat-card-content class="full-width" fxLayout="column">
        <div fxLayout="row">
            <mat-form-field fxFlexFill>
              <mat-label>שם הבית</mat-label>
              <input
                type="text"
                matInput
                placeholder="שם הבית"
                formControlName="name"
              />
              <mat-error *ngIf="formService.hasAnyError('name')">
                שדה חובה - בין 2 עד 25 תווים
              </mat-error>
            </mat-form-field>
          </div>
          <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="20px">
            <mat-form-field fxFlex="50" fxFlex.xs="100">
              <mat-label>סימן הבית</mat-label>
              <mat-icon matSuffix>{{ formService.icon }}</mat-icon>
              <mat-select formControlName="icon">
                <mat-select-trigger>
                  <span>{{ formService.iconTitle }}</span>
                </mat-select-trigger>
                <mat-option *ngFor="let icon of formService.icons | keyvalue" [value]="icon.key">
                  <mat-icon>{{ icon.key }}</mat-icon>
                  <span>{{icon.value}}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field fxFlex="50" fxFlex.xs="100">
              <mat-label>צבע</mat-label>
              <mat-icon matSuffix [style.color]="formService.color">fiber_manual_record</mat-icon>
              <mat-select formControlName="color">
                <mat-select-trigger>
                  <span>{{ formService.colorTitle }}</span>
                </mat-select-trigger>
                <mat-option *ngFor="let color of formService.colors | keyvalue" [value]="color.key">
                  <mat-icon [style.color]="color.key">fiber_manual_record</mat-icon>
                  <span>{{ color.value }}</span>
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
        <button
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="!formService.isValid"
        (click)="onSubmit()"
      >
        <mat-icon>add</mat-icon>
        <span>הוספה</span>
      </button>
    </mat-card-actions>
</mat-card>