$main-font-name: 'Simpler';
$main-font-dir: '~assets/fonts/simpler';

@mixin create-font-face($file, $weight) {
  @font-face {
    font-family: $main-font-name;
    src: url("#{$main-font-dir}/#{$file}");
    font-weight: $weight;
  }
}

@include create-font-face("Simpler-Light.otf", 300);
@include create-font-face("Simpler-Regular.otf", 500);
@include create-font-face("Simpler-Bold.otf", 700);
@include create-font-face("Simpler-Black.otf", 900);
