<mat-toolbar color="primary" class="mat-elevation-z5">
    <button type="button" mat-icon-button (click)="this.invokeMenuButtonClick()">
        <mat-icon aria-label="Menu">menu</mat-icon>
    </button>
    <exp-title></exp-title>
</mat-toolbar>