<mat-form-field fxFlex>
    <mat-label>כשפים</mat-label>
    <mat-chip-list #spellsChipList aria-orientation="horizontal" [formControl]="chipsService.valueControl">
      <mat-chip
        *ngFor="let spell of chipsService.selectedSpells | async"
        [selectable]="false"
        [removable]="true"
        (removed)="remove(spell)"
      >
        <span>{{ spell.name }}</span>
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input #queryInput
        placeholder="הוסף כישוף..."
        [formControl]="chipsService.queryControl"
        [matAutocomplete]="auto"
        [matChipInputFor]="spellsChipList"
        [matChipInputSeparatorKeyCodes]="seperators"
        [matChipInputAddOnBlur]="false"
        (matChipInputTokenEnd)="onQueryAdd($event)"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option 
      *ngFor="let spell of chipsService.autocompleteSpells | async" [value]="spell.id">
        <span>
          <span class="autocomplete-spell-name">{{ spell.name }}</span>
          <span>:&nbsp;</span>
          <span>{{ spell.description }}</span>
        </span>
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  