<mat-card [formGroup]="formService.formGroup">
    <mat-card-title>
        <h1>עדכון פרטי תלמיד</h1>
    </mat-card-title>
    <mat-card-content fxLayout="column">
        <exp-student-data [formService]="formService"></exp-student-data>
    </mat-card-content>
    <mat-card-actions fxLayout="row-reverse">
        <button mat-flat-button color="primary" type="submit" [disabled]="!formService.isValid" (click)="onSubmit()">
            <mat-icon>add</mat-icon>
            <span>עדכן</span>
        </button>
    </mat-card-actions>
</mat-card>
