<mat-nav-list>
    <mat-list-item *ngFor="let route of menuRoutes">
        <a matLine [routerLink]="'/' + (route?.path || '')" (click)="invokeSelectClick()">
            <span class="menu-item">{{route?.data?.label}}</span>
        </a>
        <mat-icon>{{route?.data?.icon}}</mat-icon>
    </mat-list-item>
</mat-nav-list>