<div [formGroup]="formService?.formGroup" 
  gdAreas="firstName spells | lastName spells | birthDate spells | house spells | gender spells"
  gdAreas.lt-md="firstName | lastName | birthDate | house | gender | spells | spells"
  gdGap="20px"
  gdColumns="auto auto"
  gdColumns.lt-md="auto"
  gdRows="auto auto auto auto auto"
  gdRows.lt-md="auto auto auto auto auto auto">

  <mat-form-field gdArea="firstName">
    <mat-label>שם פרטי</mat-label> 
    <input type="text" matInput placeholder="שם פרטי" formControlName="firstName" />
    <mat-error *ngIf="formService.hasAnyError('firstName')">שדה חובה - בין 2 עד 25 תווים</mat-error>
  </mat-form-field>

  <mat-form-field gdArea="lastName">
    <mat-label>שם משפחה</mat-label>
    <input type="text" matInput placeholder="שם משפחה" formControlName="lastName" />
    <mat-error *ngIf="formService.hasAnyError('lastName')">שדה חובה - בין 2 עד 25 תווים</mat-error>
  </mat-form-field>

  <mat-form-field gdArea="birthDate">
    <mat-label>תאריך לידה</mat-label>
    <input matInput [matDatepicker]="birthDatePicker" formControlName="birthDate" />
    <mat-datepicker-toggle matSuffix [for]="birthDatePicker"></mat-datepicker-toggle>
    <mat-datepicker #birthDatePicker></mat-datepicker>
    <mat-error *ngIf="formService.hasError('birthDate', 'emptyDate')">לא נבחר תאריך</mat-error>
    <mat-error *ngIf="formService.hasError('birthDate', 'future')">ניתן לבחור רק תאריך מהעבר, לא תאריך עתידי</mat-error>
  </mat-form-field>

  <mat-form-field gdArea="house">
    <mat-label>בית</mat-label>
    <mat-select formControlName="house">
      <mat-select-trigger>
        <span>{{ (selectedHouse | async)?.name }}</span>
      </mat-select-trigger>
      <mat-option *ngFor="let house of houses | async" [value]="house.id">
        <mat-icon [style.color]="house.color">{{house.icon}}</mat-icon>
        <span>{{ house.name }}</span>
      </mat-option>
    </mat-select>
    <mat-icon matSuffix [style.color]="(selectedHouse | async)?.color">{{ (selectedHouse | async)?.icon }}</mat-icon>
    <mat-error *ngIf="formService.hasAnyError('house')">נדרש לבחור בית קיים</mat-error>
  </mat-form-field>

  <mat-form-field gdArea="gender">
    <mat-label>מגדר</mat-label>
    <mat-select formControlName="gender">
      <mat-option *ngFor="let gender of genders | keyvalue" [value]="gender.key">
        <span>{{gender.value}}</span>
      </mat-option>
    </mat-select>
  </mat-form-field>

  <div gdArea="spells" fxLayout="column">
    <exp-spell-chips [spells]="spells | async" formControlName="spells"></exp-spell-chips>
  </div>
</div>