<div fxFlex
  gdAreas="left container right"
  gdRows="100%"
  gdColumns.gt-md="10% 80% 10%"
  gdColumns.md="5% 90% 5%"
  gdColumns.lt-md="2.5% 95% 2.5%"
  class="container-top-bottom"
>
  <div gdArea="container" class="container-sizing">
    <ng-content></ng-content>
  </div>
</div>