<mat-card [formGroup]="formService.formGroup">
  <mat-card-title>
    <h1>הוספת כישוף</h1>
  </mat-card-title>
  <mat-card-content class="full-width" fxLayout="column">
    <mat-form-field>
        <mat-label>שם הכישוף</mat-label>
        <input type="text" matInput placeholder="שם הכישוף" formControlName="name">
        <mat-error *ngIf="formService.hasAnyError('name')">שדה חובה - בין 2 עד 25 תווים</mat-error>
    </mat-form-field>
    <mat-form-field>
        <mat-label>תיאור</mat-label>
        <textarea matInput placeholder="תיאור" formControlName="description" rows="10"></textarea>
        <mat-error *ngIf="formService.hasAnyError('description')">שדה חובה - בין 3 עד 300 תווים בלבד</mat-error>
    </mat-form-field>
  </mat-card-content>
  <mat-card-actions fxLayout="row-reverse">
    <button
      mat-flat-button
      color="primary"
      type="submit"
      [disabled]="!formService.isValid"
      (click)="onSubmit()"
    >
      <mat-icon>add</mat-icon>
      <span>הוספה</span>
    </button>
  </mat-card-actions>
</mat-card>
