    <mat-card [formGroup]="formService.formGroup">
        <mat-card-title>
            <h1>רישום תלמיד לבית הספר</h1>
        </mat-card-title>
        <mat-card-content class="full-width" fxLayout="column">
            <exp-student-data [formService]="formService"></exp-student-data>
        </mat-card-content>
        <mat-card-actions fxLayout="row-reverse">
            <button mat-flat-button color="primary" type="submit" 
            [disabled]="!formService.isValid" (click)="onSubmit()">
                <mat-icon>add</mat-icon>
                <span>רשום את התלמיד</span>
            </button>
        </mat-card-actions>
    </mat-card>