<mat-sidenav-container fxFlexFill class="mat-typography" [dir]="direction">
  <mat-sidenav
    #sidenav
    class="app-sidenav"
    fxLayout="column"
    mode="over"
    opened="false"
    position="start"
  >
    <exp-sidenav-menu (onSelectClick)="sidenav.close()"></exp-sidenav-menu>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" class="site-layout">
    <exp-header (onMenuButtonClick)="sidenav.open()"></exp-header>
    <exp-container fxFlex class="router-layout">
      <router-outlet></router-outlet>
    </exp-container>
  </mat-sidenav-content>
</mat-sidenav-container>
