
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$expertos-primary: mat-palette($mat-indigo);
$expertos-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$expertos-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$expertos-theme: mat-light-theme($expertos-primary, $expertos-accent, $expertos-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($expertos-theme);

@import "~@angular/material/theming";
@import "assets/fonts/simpler/simpler";

// Color Palette
@include mat-core();

$dark-primary: mat-palette($mat-blue);
$dark-accent: mat_palette($mat-amber, A200, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

@include angular-material-theme($dark-theme);

// Typography
$simpler-typography: mat-typography-config(
  $font-family: 'Simpler, Arial, sans-serif',
  $headline: mat-typography-level(32px, 48px, 700),
  $body-1: mat-typography-level(16px, 24px, 500)
);

@include angular-material-typography($simpler-typography);