.students-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
    grid-auto-rows: 1fr;

    &::before {
        content: '';
        width: 0;
        padding-bottom: 100%;
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    & > *:first-child {
        grid-row: 1 / 1;
        grid-column: 1 / 1;
    }

    & > * {
        background-image: url("../../../../../assets/placeholder.svg");
        border: 3px white solid;
        border-radius: 5px;
        margin: 20px;
    }
}

.student-details {
    margin-bottom: 10px;
}

.student-first-name {
    font-size: 16pt;
    font-weight: 700;
    color: black
}

.student-last-name {
    font-size: 20pt;
    font-weight: 900;
    color: black
}