<div fxLayout="column">
    <exp-filters-toolbar [formGroup]="filterService.formGroup" fxLayout="row" fxLayout.lt-md="column">
      <mat-form-field fxFlex.gt-sm>
        <mat-label>סינון לפי שם פרטי/משפחה</mat-label>
        <input type="text" matInput="סינון לפי שם פרטי/משפחה" formControlName="query" />
      </mat-form-field>
      <mat-form-field fxFlex.gt-sm>
            <mat-label>סינון לפי מגדר</mat-label>
            <mat-select formControlName="gender">
                <mat-option [value]="null">כל המגדרים</mat-option>
                <mat-option *ngFor="let gender of genders | keyvalue" [value]="gender.key">
                <span>{{gender.value}}</span>
              </mat-option>
            </mat-select>
      </mat-form-field>
      <mat-form-field fxFlex.gt-sm>
        <mat-label>סינון לפי בית</mat-label>
        <mat-select formControlName="house">
          <mat-select-trigger>
            <span>{{ (selectedHouse | async)?.name }}</span>
          </mat-select-trigger>
            <mat-option [value]="null">כל הבתים</mat-option>
            <mat-option *ngFor="let house of houses | async" [value]="house.id">
              <mat-icon [style.color]="house.color">{{house.icon}}</mat-icon>
              <span>{{ house.name }}</span>
            </mat-option>
        </mat-select>
      </mat-form-field>
      <button mat-flat-button color="accent" aria-label="Reset" (click)="filterService.resetFilters()">
        <strong>איפוס מסננים</strong>
      </button>
    </exp-filters-toolbar>
    <div>
      <div class="students-grid">
        <div *ngFor="let student of filterService.filteredStudents | async" class="mat-elevation-z8 student-block" [style.borderColor]="(getStudentHouseColor(student) | async) || 'white'">
          <div fxFlex fxLayout="column" class="student-details">
            <div fxLayout="row" fxLayoutAlign="end none">
              <button mat-icon-button (click)="editStudent(student)">
                <mat-icon>edit</mat-icon>
              </button>
            </div>
            <div fxFlex></div>
            <span fxFlexAlign="center" class="student-last-name">{{student.lastName}}</span>
            <span fxFlexAlign="center" class="student-first-name">{{student.firstName}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <exp-fab target="/students/new"></exp-fab>
