<div fxLayout="column">
    <exp-filters-toolbar>
        <mat-form-field class="full-width">
            <mat-label>חיפוש לפי שם</mat-label>
            <input type="text" matInput placeholder="חפש..." [formControl]="filterService.query">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
    </exp-filters-toolbar> 
    <mat-list>
        <mat-list-item *ngFor="let house of filteredHouses | async; first as first" matRipple>
            <mat-divider [inset]="true"></mat-divider>
            <mat-icon matListIcon [style.backgroundColor]="house.color">{{house.icon}}</mat-icon>
            <span matLine class="house-name">{{house.name}}</span>
        </mat-list-item>
    </mat-list>
</div>
<exp-fab target="/houses/new"></exp-fab>