  <div fxLayout="column">
    <exp-filters-toolbar>
      <mat-form-field fxFlex="100" class="full-width">
        <mat-label>סינון לפי שם/תיאור</mat-label>
        <input type="text" matInput="סינון לפי שם..." [formControl]="filtersService.query" />
      </mat-form-field>
    </exp-filters-toolbar>
    <table mat-table [dataSource]="filteredSpells | async" class="full-width">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
          <mat-icon>extension</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>שם הכישוף</th>
        <td mat-cell *matCellDef="let element">
          <span class="spell-name">{{ element.name }}</span>
        </td>
      </ng-container>
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef>תיאור</th>
        <td mat-cell *matCellDef="let element">
          <p>{{ element.description }}</p>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="tableColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: tableColumns"></tr>
    </table>
  </div>
  <exp-fab target="/spells/new"></exp-fab>
